.*
!.gitignore
!.pre-commit-config.yaml
!.python-version
__*__/
*egg-info*
*.out
*.tsv
*.csv
wandb/
mlflow.db
mlflow.db.lock
mlruns/
mlartifacts/
data/*
*.ipynb
logs/
artifacts/
checkpoints/
graphify-out/
bench/
